@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h1{
  font-size: 1.5em;
}
h2{
  font-size: 1.3em;
}
p{
  font-size: 1em;
}

.header {
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* height: 580px; */
}

.row {
  display: flex;
}

.header-row-one {
  justify-content: flex-end;
  flex-direction: row;
  padding-top: 90px;
}

.header-content {
  width: 57%;
}

.header-row-two {
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 50px;
}
form {
  border: 2px solid black;
  border-radius: 30px;
  margin: 0 13%;
  text-align: center;
  background: white;
  padding: 20px;
  width: 25%;
  border: 1px solid red;
}

form input[type="text"] {
  padding: 15px;
  margin: 10px 0;
  border-radius: 15px;
  border: 1px solid #555555;
}

form button {
  padding: 15px;
  border-radius: 35px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

/* ---------------------------------------------- */

.left,
center,
.right {
  width: 33.33%;
}

.main-content-one {
  padding-top: 120px;
  padding-left: 60px;
  padding-right: 60px;
}

.main-content-one .img-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-content-one-c {
  background: rgb(253, 253, 253);
  border-radius: 20%;
  padding: 20px 40px;
  text-align: center;
}

/* ------------------------------------------------------------ */

.main-content-second {
  background-image: url(images/s3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 580px;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
  padding-left: 150px;
  margin-top: -1%;
  position: relative;
  z-index: 1;
}
.main-content-second-l {
  color: white;
  width: 50%;
}

.a-styling {
  background: gold;
  padding: 20px;
  color: black;
  font-size: larger;
  border-radius: 35px;
  font-weight: bolder;
}

.main-content-second-r {
  width: 50%;
}

.main-content-third {
  flex-direction: column;
  background: #f5f5f5;
  padding: 90px;
  margin-top: -1.5%;
  /* border: 1px solid green; */
  /* overflow: hidden; */
}

.collections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
  height: 33.33%;
}

.collections img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card {
  width: 25%;
  height: 250px;
}

.card-setting p {
  margin-top: 10px;
}

.main-content-fourth {
  flex-direction: column;
  padding: 100px 100px;
  background: url(images/s5.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.main-content-fourth h1 {
  text-align: center;
}

.main-content-fourth-sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-fourth {
  margin-top: 40px;
}
.card-fourth .text-header {
  display: flex;
  align-items: center;
}
.card-fourth .text-header h2 {
  display: inline;
  white-space: nowrap;
  margin-left: 20px;
}

.card-fourth .text-header img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
}

.main-content-fourth-sec .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content-fourth-sec .center .a-styling {
  width: 40%;
  text-align: center;
}

/* --------------------------------------------- */

.main-content-five {
  flex-direction: column;
  /* border: 6px solid green; */
  background: url(images/s7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  position: relative;
}

.main-content-five-sec {
  display: flex;
  /* border: 1px solid red; */
  margin: 0 10%;
  flex-direction: column;
}

.main-content-five-sec .content-five-sec {
  /* border: 1px solid red; */
  padding-left: 40px;
  display: flex;
}

.main-content-five-sec .content-five-sec .description {
  /* border: 1px solid yellowgreen; */
  background: white;
  margin-top: 120px;
  padding-right: 30%;
  padding-left: 3%;
}

.pic-decription {
  /* border: 1px solid orangered; */
  margin-left: -35%;

  display: flex;
}

.pic-decription .img1 {
  /* border: 1px solid black; */
  margin-top: 80%;
}

.description .signature-text {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  /* border: 1px solid red; */
}

/* --------------------------------------------------------------- */

.main-content-six {
  flex-direction: column;
  background: url(images/s8.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 700px; */
  margin-top: -8%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: 190px;
  padding-bottom: 80px;
}

.content-six-card-place {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-weight {
  background: white;
  /* border: 1px solid red; */
  padding: 20px;
  width: 25%;
  margin-left: 10px;
}
.card-weight {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-weight-img {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

/* ---------------------------------------------- */

.main-content-seven {
  margin-top: 0;
  padding: 70px;
  background: rgb(2, 0, 36);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 49% 92%, 0 100%, 0 0);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 67, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.main-content-seven .content-six-card-place {
  margin-top: 70px;
}

.main-content-seven .content-six-card-place .card-weight {
  background: none;
  margin-right: 7%;
}

/* ------------------------------------------------------- */

.main-content-eight .left,
.right,.center {
  /* border: 1px solid red; */
  width: 30%;
  margin-right: 30px;
}
.main-content-eight {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px 0;
  height: 800px;
  /* justify-content: center; */
}

.main-content-eight .left {
  background: url(images/block_1_water1.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.main-content-eight .center{
  /* margin-left: -10%; */
  
}
.main-content-eight .center img{
  /* border: 1px solid black; */
  margin-left: -50%;
}

.main-content-eight .left .main-content-eight-text{

  background: gold;
  padding: 80px 40px;
  padding-right: 90px;
  margin-top: 100px;
  border-radius: 15px 50px 30px 5px;
  
}

.main-content-eight .right form{
  width: auto;
  height: 600px;
  border: 2px solid black;
  margin-top: 70px;
  
}

/* -------------------------------------------- */


footer{
  padding: 30px 20px;
  background: rgb(2, 207, 207);
  color: white;
}