@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /*  */
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
p {
  font-size: 1em;
}

.header {
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 580px; */
}

.row {
  display: flex;
}

.header-row-one {
  justify-content: flex-end;
  flex-direction: row;
  padding-top: 90px;
}

.header-row-one .header-content > h1 {
  font-size: xx-large;
  font-weight: lighter;
  color: #676768;
}

.header-content {
  width: 57%;
}

.header-row-two {
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 50px;
}
.form1 {
  border-radius: 30px;
  margin: 0 13%;
  text-align: center;
  background: white;
  padding: 20px;
  width: 25%;
  border: 1px solid #696B69;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 3px 6px 5px #696B69; 
box-shadow: 0px 10px 13px -7px #000000, -1px 3px 6px 5px #696B69;
}

form input[type="text"] {
  padding: 15px;
  margin: 10px 0;
  border-radius: 15px;
  border: 1px solid #555555;
}

form button {
  padding: 15px;
  border-radius: 35px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

/* ---------------------------------------------- */

.left,
center,
.right {
  width: 33.33%;
}

.main-content-one {
  padding-top: 120px;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: center;
  align-items: center;
}

.main-content-one .img-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main-content-one-l,
.main-content-one-r {
  text-align: center;
}

.main-content-one-c {
  background: rgb(253, 253, 253);
  border-radius: 20%;
  padding: 20px 40px;
  text-align: center;
}

/* ------------------------------------------------------------ */

.main-content-second {
  background-image: url(images/s3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 60px 180px;
  padding-left: 410pxx;
  margin-top: -1%;
  position: relative;
  z-index: 1;
}
.main-content-second-l-text {
  text-align: justify;
  margin-bottom: 50px;
}
.main-content-second-l {
  color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.a-styling {
  background: gold;
  padding: 20px;
  color: black;
  font-size: larger;
  border-radius: 35px;
  font-weight: bolder;
  width: 25%;
  text-align: center;
}

.main-content-second-r {
  width: 50%;
  display: flex;
  justify-content: center;
}
.main-content-second-r img {
  width: 300px;
  height: 300px;
}

/* ------------------------------------------------ */

.main-content-third {
  flex-direction: column;
  background: #f5f5f5;
  padding: 90px;
  margin-top: -1.5%;
  position: relative;
}

.leaves {
  position: relative;
}

.leaves .left {
  position: absolute;
  width: 150px;
  height: 150px;
  margin-left: -7%;
  top: -52%;
}
.leaves .right {
  position: absolute;
  width: 150px;
  height: 150px;
  
  top: 190px;
  right: -3%;
}
.collections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
  height: 33.33%;
}

.collections img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card {
  width: 25%;
  height: 250px;
}

.card-setting p {
  margin-top: 10px;
}

/* ----------------------------------------- */

.main-content-fourth {
  flex-direction: column;
  padding: 100px 200px;
  background: url(images/s5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content-fourth-l {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-content-fourth-r {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-content-fourth h1 {
  text-align: center;
}

.main-content-fourth-sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-fourth {
  margin-top: 40px;
  height: 300px;
}
.card-fourth .text-header {
  display: flex;
  align-items: center;
  font-style: italic;
}
.card-fourth .text-header h2 {
  display: inline;
  white-space: nowrap;
  margin-left: 20px;
}

.card-fourth .text-header img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
}

.main-content-fourth-sec .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content-fourth-sec .center .a-styling {
  width: 40%;
  text-align: center;
  font-weight: bolder;
}

/* --------------------------------------------- */

.main-content-five {
  flex-direction: column;
  background: url(images/s7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  position: relative;
  justify-content: center;
  align-items: center;
}

.main-content-five-sec {
  display: flex;
  /* border: 1px solid red; */
  margin: 0 10%;
  flex-direction: column;
}

.main-content-five-sec .content-five-sec {
  /* border: 1px solid red; */
  padding-left: 40px;
  display: flex;
}

.main-content-five-sec > h1 {
  width: 50%;
  text-align: left;
  margin-top: 30px;
  color: white;
  font-style: italic;
  margin-left: 50px;
  font-size: xx-large;
}
.main-content-five-sec .content-five-sec .description {
  /* border: 1px solid yellowgreen; */
  background: white;
  margin-top: 50px;
  padding-right: 30%;
  padding-left: 3%;
}

.pic-decription {
  /* border: 1px solid orangered; */
  margin-left: -35%;

  display: flex;
}

.pic-decription .img1 {
  /* border: 1px solid black; */
  margin-top: 56%;
  width: 271px;
  height: 291px;
}
.pic-decription .img2 {
  /* border: 1px solid black; */
  margin-top: 2%;
}

.description .signature-text {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  /* border: 1px solid red; */
}

/* --------------------------------------------------------------- */

.main-content-six {
  flex-direction: column;
  background: url(images/s8.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 700px; */
  margin-top: -7%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: 274px;
  padding-bottom: 100px;
}

.content-six-card-place {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-weight {
  background: white;
  /* border: 1px solid red; */
  padding: 20px;
  width: 25%;
  margin-left: 10px;
}
.card-weight {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-weight-img {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------------- */

.main-content-seven {
  margin-top: 0;
  padding: 70px;
  background: rgb(2, 0, 36);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 49% 92%, 0 100%, 0 0);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 67, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.main-content-seven .content-six-card-place {
  margin-top: 70px;
}

.main-content-seven .content-six-card-place .card-weight {
  background: none;
  margin-right: 7%;
}

/* ------------------------------------------------------- */

.main-content-eight {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px 0;
  height: 800px;
  /* justify-content: center; */
}

.main-content-eight-l {
  background: url(images/block_1_water1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25%;
  /* border: 1px solid green; */
  position: relative;
  z-index: 2;
}

.main-content-eight-c {
  width: 45%;
  position: relative;
  z-index: -1;
}

.main-content-eight-r {
  width: 25%;
}

.main-content-eight-l .main-content-eight-text {
  background: gold;
  padding: 80px 40px;
  padding-right: 90px;
  margin-top: 100px;
  border-radius: 15px 50px 30px 5px;
}

.main-content-eight-r .form2 {
  border-radius: 30px;
  margin: 0 13%;
  text-align: center;
  background: white;
  padding: 20px;
  width: auto;
  border: 1px solid #696B69;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 3px 6px 5px #696B69; 
box-shadow: 0px 10px 13px -7px #000000, -1px 3px 6px 5px #696B69;
}

form button{
  -webkit-box-shadow: 1px 8px 21px -2px #000000; 
box-shadow: 1px 8px 21px -2px #000000;
}

/* -------------------------------------------- */

footer {
  padding: 30px 20px;
  background: rgb(2, 207, 207);
  color: white;
}

/* ------------------------------------------------------------------ */

/* MEDIA QUERIES */

/* MEDIA QUERY WIDTH 1024px */

@media screen and (max-width: 1024px) {
  * {
    overflow-x: hidden;
  }

  .header {
    background-size: contain;
  }

  .header-row-one {
    justify-content: flex-end;
    flex-direction: row;
    padding-top: 90px;
    justify-content: flex-end;
  }

  .header-content {
    width: 44%;
  }

  .header-row-two {
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 50px;
  }

  /* --------------------------------------------- */

  .main-content-one {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-content-one-l img {
    width: 300px;
  }

  .main-content-one-r img {
    width: 300px;
  }

  /* --------------------------------------------------------------- */

  .main-content-second {
    padding: 40px;
  }

  .main-content-second-l {
    width: 70%;
  }

  .main-content-second-r {
    width: 30%;
  }
  .a-styling {
    margin-top: -50px;
  }

  /* ------------------------------------------------------------------ */

  .card {
    width: 50%;
    height: 262px;
  }

  /* ------------------------------------------------------------------- */

  .main-content-fourth {
    padding: 100px 55px;
    background-size: cover;
  }

  .card-fourth {
    margin-top: 40px;
    height: 360px;
  }

  .main-content-fourth-sec .center img {
    width: 400px;
    height: 400px;
  }

  .main-content-fourth-sec .center .a-styling {
    width: 50%;
    text-align: center;
    margin-top: 50px;
  }

  /* ----------------------------------------------------- */

  /* ------------------------------------------- */

  .card-weight {
    background: white;
    /* border: 1px solid red; */
    padding: 20px;
    width: 32%;
    margin-left: 10px;
  }

  /* ----------------------------------------------- */

  .main-content-eight {
    height: 916px;
  }
  .main-content-eight-c img {
    width: 400px;
  }
  .main-content-eight-r .form2 {
    width: 223px;
  }
}

/* ---------------------------------------------------------- */

/* MEDIA QUERY WIDTH 768px */

@media screen and (max-width: 768px) {
  * {
    overflow-x: hidden;
  }

  .header-row-two img {
    width: 200px;
    height: 200px;
  }

  .header-row-two {
    flex-direction: row;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
  }
  .form1 {
    width: 35%;
  }

  /* --------------------------------------------------------- */

  .main-content-one {
    padding-left: 10px;
    padding-right: 10px;
    align-items: flex-start;
  }
  .main-content-one-l img {
    width: 240px;
  }

  .main-content-one-r img {
    width: 240px;
  }

  .main-content-one-c {
    width: 35%;
    padding-bottom: 12px;
  }

  /* --------------------------------------------------------- */

  .main-content-second {
    padding: 40px;
  }

  .main-content-second-l {
    width: 70%;
  }

  .main-content-second-r {
    width: 30%;
  }
  .a-styling {
    margin-top: -50px;
    width: 23%;
  }

  /* ---------------------------------- */

  .card {
    width: 50%;
    height: 300px;
  }

  /* -------------------------------------------------------- */

  .main-content-fourth {
    padding: 100px 55px;
    background-size: cover;
  }

  .card-fourth {
    margin-top: 40px;
    height: 360px;
  }

  .card-fourth .text-header img {
    width: 80px;
    height: 80px;
  }

  .main-content-fourth-sec .center img {
    width: 250px;
    height: 400px;
  }

  .main-content-fourth-sec .center .a-styling {
    width: 50%;
    text-align: center;
    margin-top: 50px;
  }

  /* --------------------------------------------------------- */

  .pic-decription .img2 {
    margin-top: 3%;
    height: 700px;
    width: 300px;
  }

  /* ------------------------------------------------------- */

  .card-weight {
    background: white;
    /* border: 1px solid red; */
    padding: 20px;
    width: 44%;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  /* --------------------------------------------------------------- */

  .main-content-eight {
    height: auto;
  }
  .main-content-eight-c img {
    width: 324px;
  }
  .main-content-eight-r .form2 {
    width: 87%;
  }

  .main-content-eight-l {
    width: 25%;
  }

  .main-content-eight-l .main-content-eight-text {
    padding: 20px;
  }

  .form2 input[type="text"] {
    padding: 5px;
    margin: 10px 0;
    border-radius: 15px;
    border: 1px solid #555555;
    width: 80%;
  }

  .form2 button {
    padding: 5px;
  }
}

/* ---------------------------------------------------------- */

/* MEDIA QUERY WIDTH 425px */

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1em;
  }
  h2 {
    font-size: 0.7em;
  }
  p {
    font-size: 0.5em;
  }

  .header-row-one {
    padding-top: 17px;
  }

  .header-row-one .header-content > h1 {
    font-size: s;
  }

  .header-content {
    width: 57%;
  }

  .header-content img {
    width: 50%;
    height: 50px;
  }

  .header-row-two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  .form1 {
    width: 80%;
  }

  /* ---------------------------------------- */

  .main-content-one-l,
  .main-content-one-r {
    display: none;
  }

  .main-content-one-c {
    width: 70%;
  }

  /* -------------------------------------------- */

  .main-content-second-r img {
    width: 150px;
    height: 150px;
  }

  .a-styling {
    width: 37%;
    padding: 15px;
    font-size: medium;
  }

  /* -------------------------------------------- */

  .collections {
    flex-direction: column;
    padding: 0;
    padding-top: 20px;
  }

  .card {
    width: 100%;
    height: 160px;
  }

  .card img {
    width: 100px;
    height: 100px;
  }

  /* ------------------------------------------- */

  .main-content-fourth {
    padding: 20px;
  }

  .main-content-fourth {
    flex-direction: column;
  }

  .main-content-fourth .center {
    display: none;
  }

  .main-content-fourth-l,
  .main-content-fourth-r {
    width: 50%;
  }

  .main-content-fourth-sec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-fourth {
    margin-top: 40px;
    height: 200px;
  }

  .main-content-five-sec {
    display: flex;
    margin: 0 10%;
    flex-direction: column;
  }

  .main-content-five-sec .content-five-sec {
    padding-left: 0px;
    display: flex;
  }

  .main-content-five-sec .content-five-sec .description {
    margin-top: 40px;
    padding-right: 6%;
    padding-left: 6%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .pic-decription .img1 {
    display: none;
    margin-top: 80%;
  }
  .pic-decription .img2 {
    margin-top: 2%;
    display: none;
  }

  .description .signature-text {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  /* ------------------------------------------------------ */

  .content-six-card-place {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .card-weight {
    width: 80%;
  }

  /* -------------------------------------------------------- */

  .card-weight-img img {
    width: 150px;
    height: 150px;
  }

  .main-content-seven .card-weight {
    width: 100%;
  }

  /* ------------------------------------------- */

  .main-content-eight-c {
    display: none;
    height: auto;
  }

  .main-content-eight-l,
  .main-content-eight-r {
    width: 50%;
  }
}

/* -------------------------------------------------------- */

/* font styling */

.main-content-one-c h2 {
  color: #fe3535;
  font-weight: bolder;
}

.main-content-one-c h1 {
  color: #00e9db;
}
